{
  "extends": "react-app",
  "plugins": ["prettier", "react-hooks"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "tabWidth": 2,
        "printWidth": 100,
        "semi": false,
        "singleQuote": true,
        "trailingComma": "none",
        "endOfLine": "lf"
      }
    ],
    "import/no-default-export": 2,
    "import/no-duplicates": 2,
    "import/newline-after-import": 2,
    "import/no-cycle": 2,
    "react-hooks/rules-of-hooks": 2,
    "react-hooks/exhaustive-deps": 2
  }
}
