{
  "extends": ["react-app", "prettier"],
  "plugins": ["react-hooks", "@emotion"],
  "rules": {
    "import/no-default-export": 2,
    "import/no-duplicates": 2,
    "import/newline-after-import": 2,
    "import/no-cycle": 2,
    "import/order": [
      "warn",
      {
        "alphabetize": {
          "order": "asc"
        },
        "groups": [
          ["builtin", "external"],
          "internal",
          "parent",
          ["sibling", "index"]
        ],
        "newlines-between": "always"
      }
    ],
    "react-hooks/rules-of-hooks": 2,
    "react-hooks/exhaustive-deps": 2,
    "@typescript-eslint/explicit-module-boundary-types": "warn",
    "@emotion/pkg-renaming": "warn",
    "@emotion/no-vanilla": "warn",
    "@emotion/import-from-emotion": "warn",
    "@emotion/styled-import": "warn"
  }
}
