{
  "env": {
    "node": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended", // Uses the recommended rules from the @typescript-eslint/eslint-plugin
    "prettier"
  ],
  "plugins": ["import"],
  "rules": {
    "import/no-default-export": 2,
    "import/no-duplicates": 2,
    "import/newline-after-import": 2,
    "import/no-cycle": 2,
    "no-console": ["error", { "allow": ["warn"] }],
    "@typescript-eslint/no-empty-interface": ["off"]
  }
}
